// Layout variables partial

$section-padding: 40px 0;

section.intro, section.features-extra, section.rsvp {
	background: #fafafa;
}
section.features, section.events, section.blog {
	background: #fff;
}
section#invitation {
	background: #fff;
}
section#registry {
	background: #fafafa;
}